In [ ]:
import pandas as pd

dados = pd.read_csv('https://gist.githubusercontent.com/altinodantas/d5285d4660db4db73c26277598c8f2a3/raw/535bfab21557cd1597f1d6b11674c36d2b9476f5/benchmark.csv')

amostra_estratificada_n = dados.groupby('SEXO').apply(lambda grupo: grupo.sample(frac=.1))#quando frac é uma fração quando n = numeros inteiros
                                        
amostra_estratificada_n

In [2]:
grupo_a = amostra_estratificada_n[amostra_estratificada_n['SEXO']=='F']

In [3]:
grupo_a.describe()

            Estudo          Renda        Idade       Altura
count  2359.000000    2359.000000  2359.000000  2359.000000
mean     10.465028    1611.356507    44.423908     1.560895
std       4.374868    2997.561647    12.271043     0.448608
min       1.000000       0.000000    17.000000     0.000165
25%       7.000000     745.000000    35.000000     1.625558
50%      12.000000     950.000000    44.000000     1.687915
75%      13.000000    1500.000000    53.000000     1.747916
max      17.000000  100000.000000    90.000000     1.948985

In [ ]:
#Amostragem Sistemática 
import random 

N = len(dados)
n = 10
k = N/n
b = random.randint(0, k)

indices = [int(b+k*i) for i in range(n)]

amostra_sistematica = dados[dados.index.isin(indices)]
amostra_sistematica
grupo_b = amostra_sistematica[amostra_sistematica["SEXO"] == "F"]
grupo_b

In [7]:
dados.groupby(by='SEXO').count()

      Estudo  Renda     UF    COR  Idade  Altura
SEXO
F      23590  23590  23590  23590  23590   23590
M      53250  53250  53250  53250  53250   53250

In [8]:
import pandas as pd

# Lê o arquivo CSV
dados = pd.read_csv('https://gist.githubusercontent.com/altinodantas/d5285d4660db4db73c26277598c8f2a3/raw/535bfab21557cd1597f1d6b11674c36d2b9476f5/benchmark.csv')

# Cria um novo arquivo CSV
with open('novo_arquivo.csv', 'w', newline='') as arquivo_saida:
  arquivo_saida.write(dados.to_csv())

In [ ]:
import pandas as pd

# Lê o arquivo CSV
dados = pd.read_csv('https://gist.githubusercontent.com/altinodantas/2d57753e48eeacd20a6c1ff6ebe94f6d/raw/e6868648a75a340a651b5494e0f210f1010810aa/dados-delivery.csv')

# Cria um novo arquivo CSV
with open('dados_delivery.csv', 'w', newline='') as arquivo_saida:
  arquivo_saida.write(dados.to_csv())